<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3><b>{{ companyData1.name }}</b></h3>
          <h5>CIK: {{ companyData1.cik }}</h5>
          <h5>Ticket: {{ companyData1.ticket }}</h5>
          <h5>Growth: 45</h5>
          <h5>Profitability: 23</h5>
          <h5>Investability: 56</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3><b>{{ companyData2.name }}</b></h3>
          <h5>CIK: {{ companyData2.cik }}</h5>
          <h5>Ticket: {{ companyData2.ticket }}</h5>
          <h5>Growth: 55</h5>
          <h5>Profitability: 33</h5>
          <h5>Investability: 78</h5>
        </div>
      </div>
    </div>
  </div>
</div>
