<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a routerLink="/" class="nav-link">SEC FILING PORTAL</a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-stretch">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize" (click)="toggleSidebar()">
      <span class="mdi mdi-menu"></span>
    </button>
    <div class="search-field d-none d-md-block">
      <form class="d-flex align-items-center h-100" action="#">
        <div class="input-group nav-search-field">
          <div class="input-group-prepend bg-transparent">
            <i class="input-group-text border-0 mdi mdi-magnify"></i>
          </div>
          <input type="text"
                 class="form-control bg-transparent border-0"
                 placeholder="Search SaaS companies"
                 (ngModelChange)="searchNav($event)"
                 [ngModel]="searchQuery"
                 [ngModelOptions]="{ standalone: true }"
                 >
        </div>
      </form>
    </div>
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item nav-profile dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="profileDropdown" ngbDropdownToggle
           routerLink="profile">
          <div class="nav-profile-img">
            <img src="assets/images/faces/face1.png" alt="image">
          </div>
          <div class="nav-profile-text">
            <p class="mb-1 text-black">{{ user.username }}</p>
          </div>
        </a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link" class="sign-out" (click)="logout()">
          Sign Out
        </a>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" (click)="toggleOffcanvas()">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>

<style>
  .nav-link {
    color: black;
  }

  .nav-link:hover {
    color: black;
    text-decoration: none;
  }

  #profileDropdown {
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color 0.2s;
  }

  #profileDropdown::after {
    content: ''
  }

  #profileDropdown:hover {
    background-color: #eee  ;
  }
  .sign-out {
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  .sign-out:hover {
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.9);
  }
</style>
