<div class="card favourites-card">
  <div class="card-body">
    <h1>Favourites</h1>
    <div class="row">
      <company-card [companyName]="favourite.Name"
                    [cik]="favourite.CIK_Number"
                    class="favourites"
                    *ngFor="let favourite of favourites">
      </company-card>
    </div>
  </div>
</div>

<style>
  .list-group {
    margin-top: 20px;
  }
  .favourites-card {
    margin: auto;
    width: 80%;
  }

  .row {
    margin: 0;
  }
</style>
